<li class="h-cart">
    <a class="cart-contents" href="cart">
        <p class="h-cart-icon">
            <i class="ion-android-cart"></i>
            <span>{{ request.session.cart.items|length }}</span>
        </p>
        <p class="h-cart-total">${{ request.session.cartTotalAmount }}</p>
    </a>
    <div class="widget_shopping_cart">
        <div class="widget_shopping_cart_content">
            <ul class="cart_list">
                {% for key, value in request.session.cart.items %}
                <li>
                    <a href="{% url 'appweb:removefromcart' value.product_id %}" class="remove">&times;</a>
                    <a href="#">
                        <img src="{{value.image}}" alt="">
                        {{value.name}}
                    </a>
                    <span class="quantity">{{value.quantity}} &times; ${{value.subtotal}}</span>
                </li>
                {% endfor %}
                
            </ul>
            <p class="total"><b>Total:</b> ${{reques.session.cartTotalAmount}}</p>
            <p class="buttons">
                <a href="{% url 'appweb:shopping_cart' %}" class="button">Ver Carrito</a>
                <a href="#" class="button">Pedido</a>
            </p>
        </div>
    </div>
</li>